/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
/* End of fonts */
/* Main page elements */
body {
  background-color: rgb(250,250,250);
  color: rgb(40,40,40);
}

body, h1, h2, h3, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

h2 {
  font-family: 'Lato', sans-serif;
}


p {
  font-family: 'Lato', sans-serif;
  margin-bottom: 16px;
}
li {
  font-family: 'Permanent Marker', cursive;
}

a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: black;
}

a:hover {
  color: #999999;
}
/* End main page elements */
/* Classes attached to main page elements */

/* h2 class for skills div header */
.skills-header {
  font-family: 'Permanent Marker', cursive;
}
/* style FontAwesome socials links */
.post-it-social {
  font-family: 'Permanent Marker', cursive;
}
/* style icon font size on post-it div */
.post-it i {
  font-size: 32px;
}

.project-h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 48px;
  margin-bottom: 24px;
}

.project-card-p {
  font-family: 'Permanent Marker';
  line-height: 1;
}

.project-card-h1 {
  font-family: 'Permanent Marker';
  font-size: 24px;
}

.project-site {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: black;
  align-self: left;
}

.project-p {
  margin-top: 16px;
}
/* Style the credits in the bottom-right of the index */
.credits {
  font-family: 'Reenie Beanie', cursive;
  color: black;
  position: absolute;
  bottom: 0;
  right: 8px;
  font-size: 24px;
  opacity: 0.3;
}

.split-it-list {
  font-family: 'Lato', sans-serif;
}
/* End classes attached to main page elements */
